    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Charmington IT</h2>
              <br/>
                <p class="text-muted about">
                  A tiny consultancy firm specialized on mobile app development.<br/>                  
                  More than 10 years of experience in the mobile app industry.<br/>
                  Located in Stockholm, Sweden.
                </p>
              </div>
        </div>
    </section>
